<ul class="mui-table-view mui-grid-view mui-grid-9">
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/findstore.png"/></span>
			<div class="mui-media-body">Find a Store</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/shop.png"/></span>
			<div class="mui-media-body">Shop by Department</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/buy.png"/></span>
			<div class="mui-media-body">Must Buy</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/bulk.png"/></span>
			<div class="mui-media-body">Bulk Buy</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/promition.png"/></span>
			<div class="mui-media-body">Promotions</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/order.png"/></span>
			<div class="mui-media-body">Pre-Orders</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/brands.png"/></span>
			<div class="mui-media-body">Popular Brands</div>
		</a>
	</li>
	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
		<a href="#">
			<span class="mui-icon"><img src="image/drawable-xhdpi/orders.png"/></span>
			<div class="mui-media-body">My Orders</div>
		</a>
	</li>
</ul>