<header class="mui-bar mui-bar-nav">
	<a class="mui-icon mui-icon-bars mui-pull-left mui-action-menu" href="#leftPopover"></a>
	<a id="info" class="mui-icon mui-icon-more mui-pull-right " href="#topPopover"></a>
	<h1 class="mui-title">
		<img src="image/drawable-xhdpi/MARKET----PLACE.png"  class="imglogo"/>
		<a href="#"><img src="image/drawable-xhdpi/car.png"/></a>
		<a href="#"><img src="image/drawable-xhdpi/person.png"/></a>
		<a href="#" id="search"><img src="image/drawable-xhdpi/search.png"/></a>
	</h1>
</header>
<div class="headerWrapper">
	<!--search-->
	<div class="search">
		<input type="text" name="text" id="text" value="Enter Product name / Type" />
		<input type="submit" value="GO" />
	</div>
	<!--end search-->
	
	<!--左边弹出框-->
	<div id="leftPopover" class="mui-popover">
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--image-->
				<div class="imagewrapper">
					<img src="image/drawable-xhdpi/left.png" />
				</div>
				<div class="navmenu">
					<a href="#" class="navactive">Main<span></span></a>
					<a href="#">Departments<span></span></a>
				</div>
				<!--lists main-->
				<ul class="mui-table-view" id="leftpopove">
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/shopshopping.net.png" /></span>
							<div>Online Shop</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/mustbuy.png"/></span>
							<div>Must Buy</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/shopblack.png"/></span>
							<div>Bulk Buy</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/labelpro.png"/></span>
							<div>Promotions</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/shoppingorder.png"/></span>
							<div>Pre-Orders</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/propular.png"/></span>
							<div>Popular Brands</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">
							<span><img src="image/drawable-xhdpi/propulerce.png"/></span>
							<div>Popular Categories</div>
						</a>
					</li>
				</ul>
				<!--list Departments-->
				<ul class="mui-table-view" id="rightpopove" style="display: none;">
					<li class="mui-table-view-cell">
						<a href="#">Fresh Food &Deli</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Chilled & Frozen Food</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Grocery</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Drinks & Beverages</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Baby</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Household</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Homeware & Office</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Pets</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--end-->
	
	<!--top -->
	<div id="topPopover" class="mui-popover">
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="DeliveryLocation/selectLocation.html">Delivery Location</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Log in<span>Create new account</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Refer a Friend</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Help Center</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Other Information</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">Store Locator</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#">About Wellcome</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--end-->
	
</div>