<div class="mui-slider" id="slider">
	<div class="mui-slider-group mui-slider-loop">
		<div class="mui-slider-item mui-slider-item-duplicate">
			<a href="#"><img src="image/drawable-xhdpi/slider3.png" /></a>
		</div>
		<!--循环-->
		<div class="mui-slider-item">
			<a href="#"><img src="image/drawable-xhdpi/silder1.png" /></a>
		</div>
		<div class="mui-slider-item">
			<a href="#"><img src="image/drawable-xhdpi/slider2.png" /></a>
		</div>
		<div class="mui-slider-item">
			<a href="#"><img src="image/drawable-xhdpi/slider3.png" /></a>
		</div>
		<!--循环-->
		<div class="mui-slider-item mui-slider-item-duplicate">
			<a href="#"><img src="image/drawable-xhdpi/silder1.png" /></a>
		</div>
	</div>
	<!--角标-->
	<div class="mui-slider-indicator mui-text-right">
		<div class="mui-indicator mui-active"></div>
		<div class="mui-indicator"></div>
		<div class="mui-indicator"></div>
	</div>
</div>